
body {
    background-image: url("/images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
.attribution a {
color: hsl(228, 45%, 44%);
}